body {
    font-family: Ubuntu, sans-serif;
    background-color: #060608;
    color: #E8E8EB;
}

button {
  background-color: #007bff; /* Sets the button's background color */
  color: white;              /* Sets the text color */
  border: none;              /* Removes the default border */
  padding: 15px 32px;        /* Adds space inside the button (top/bottom, left/right) */
  text-align: center;        /* Centers the text */
  text-decoration: none;     /* Removes underlines if using an anchor tag (<a>) */
  display: inline-block;     /* Allows for proper sizing and margins */
  font-size: 16px;           /* Adjusts the font size */
  cursor: pointer;           /* Changes the mouse cursor to a hand on hover */
  border-radius: 8px;        /* Rounds the corners */
  transition: background-color 0.3s; /* Smooth transition for hover effects */
}
